body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#title {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: whitesmoke;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: #95a5a6 2px solid;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
#legend {
  position: fixed;
  left: 10px;
  bottom: 40px;
  background-color: whitesmoke;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: #95a5a6 2px solid;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.legend {
  background-color: whitesmoke;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  font: 12px/20px "Roboto", sans-serif;
  padding: 0px;
  position: absolute;
  left: 10px;
  bottom: 35px;
  z-index: 1;
}
.legend div span {
  border-radius: 10%;
  display: inline-block;
  height: 5px;
  margin-right: 5px;
  width: 30px;
}
.legend2 div span {
  border-radius: 10%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 30px;
  border-color: lightslategray;
  border-width: 1px;
}
img {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 65px;
  background-color: whitesmoke;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border: #95a5a6 2px solid;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.a {
  object-fit: contain;
}

h1 {
  color: black;
  font-family: "Play", sans-serif;
  font-size: medium;
}
h4 {
  color: black;
  font-family: "Play", sans-serif;
  font-size: small;
  margin: 1px;
  padding: 0px;
}
h5 {
  color: white;
  font-family: "Play", sans-serif;
  font-size: small;
  margin: 1px;
  padding: 0px;
  line-height: 200%;
}
p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: small;
  padding: 0px;
}
.p2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12;
  line-height: 150%;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: small;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 50px;
  margin-left: 50px;
  line-height: 125%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
